apiVersion: apps/v1
kind: Deployment
metadata:
    name: bookinfos-write
    labels:
        app.kubernetes.io/name: bookinfos-write
spec:
    replicas: 1
    selector:
        matchLabels:
            app.kubernetes.io/name: bookinfos-write
    template:
        metadata:
            labels:
                app.kubernetes.io/name: bookinfos-write
        spec:
            containers:
                - name: bookinfos-write
                  image: lucasbrito3001/bookinfos-write:v1.0.0
                  imagePullPolicy: Always
                  ports:
                      - containerPort: 8080
                        protocol: TCP
                  env:
                      - name: REDIS_URL
                        value: "redis-master.redis.svc.cluster.local:6379"
                      - name: NOTIFICATION_URL
                        value: "notification-service.notification-service.svc.cluster.local:8080"
                      - name: REDIS_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                name: bookinfos-write-secrets
                                key: redis_password
                  readinessProbe:
                      httpGet:
                          path: /healthz
                          port: 8080
                          scheme: HTTP
                      timeoutSeconds: 3
                      periodSeconds: 15
                      successThreshold: 1
                      failureThreshold: 3
                  startupProbe:
                      httpGet:
                          path: /healthz
                          port: 8080
                          scheme: HTTP
                      timeoutSeconds: 3
                      periodSeconds: 1
                      successThreshold: 1
                      failureThreshold: 3
---
apiVersion: v1
kind: Service
metadata:
    name: bookinfos-write
spec:
    selector:
        app.kubernetes.io/name: bookinfos-write
    ports:
        - protocol: TCP
          port: 80
          targetPort: 8080
---
apiVersion: v1
kind: Secret
metadata:
    name: bookinfos-write-secrets
type: Opaque
data:
    redis_password: QVNEIzIxMjNEc2F1Z2h1NCNraWo=
