apiVersion: apps/v1
kind: Deployment
metadata:
    name: notification-service
    labels:
        app.kubernetes.io/name: notification-service
spec:
    replicas: 1
    selector:
        matchLabels:
            app.kubernetes.io/name: notification-service
    template:
        metadata:
            labels:
                app.kubernetes.io/name: notification-service
        spec:
            containers:
                - name: notification-service
                  image: notification-service:v1.0.0
                  imagePullPolicy: Never
                  ports:
                      - containerPort: 8080
                        protocol: TCP
                  readinessProbe:
                      httpGet:
                          path: /healthz
                          port: 8080
                          scheme: HTTP
                      timeoutSeconds: 3
                      periodSeconds: 15
                      successThreshold: 1
                      failureThreshold: 3
                  startupProbe:
                      httpGet:
                          path: /healthz
                          port: 8080
                          scheme: HTTP
                      timeoutSeconds: 3
                      periodSeconds: 1
                      successThreshold: 1
                      failureThreshold: 3
---
apiVersion: v1
kind: Service
metadata:
    name: notification-service
spec:
    selector:
        app.kubernetes.io/name: notification-service
    ports:
        - protocol: TCP
          port: 80
          targetPort: 8080
