apiVersion: apps/v1
kind: Deployment
metadata:
    name: url-shortener
    labels:
        app: url-shortener
spec:
    replicas: 1
    selector:
        matchLabels:
            app: url-shortener
    template:
        metadata:
            labels:
                app: url-shortener
        spec:
            containers:
                - name: url-shortener
                  image: lucasbrito3001/url-shortener:v1.0.11
                  imagePullPolicy: IfNotPresent
                  resources:
                      requests:
                          cpu: 100m
                          memory: 512Mi
                      limits:
                          memory: 512Mi
                  envFrom:
                      - secretRef:
                            name: url-shortener-secret
                  env:
                  - name: SERVER_PORT
                    value: "8080"
                  - name: CACHE_TTL
                    value: "3600"
                  - name: COUNTER_OFFSET
                    value: "14776336"
                  ports:
                      - name: http
                        containerPort: 8080
                        protocol: TCP
---

