apiVersion: v1
kind: Service
metadata:
    name: url-shortener
    labels:
        app: url-shortener
spec:
    ports:
        - port: 8080
          protocol: TCP
          targetPort: 8080
    selector:
        app: url-shortener
    clusterIP: None
---

